@media only screen and (max-width: 767px) {
    .box_logo {
        width: 320px;
		height:300px;
    }
	
}
@media only screen and (min-width: 767px) {
    .box_logo {
        width: 400px;
		height:300px;
    }
	
}

#title{
	background-color: #f5f4f4;
	text-align: center;
	margin-right: 1px;
    margin-left: 1px;
	padding-right: 1px;
	padding-left: 1px;
	border: 1px solid #dad9d9;
}

h3.question_title {
	margin-bottom: 20px;
}
.btn{
	width: 100%;
	margin-top: 4px;
	white-space:pre-line;
}

.jumbotron
{
	padding-top: 55px;
	height:45%;
	background-color: #f5f4f4;
}
h2{
	color:black;
	margin-bottom: 17px;
}
.circleBase {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}
.type3 {
    width: 100px;
    height: 100px;
    background: #eee;
    border: 3px solid #eee;
}

#expert_box{
	height: 500px;
	width: 430px;
	}
.right_box{
	height:80px;
	width: 190px;
}
.box_bnt_left{
	float: left;
	margin-top:33px;
}
.box_bnt_right{
	float: right;
	margin-top:33px;
	
}
.box_bnt_right:hover{
	color: aqua;
}

#deco{
	text-decoration: none;
	color: #212F3D;
	margin-top: 3px;
}
#deco:hover{
	color:cadetblue; 
}
#back_img{
	/* min-height: 100%;
	
	background-image: url('https://wallpapercave.com/wp/YHlk56g.jpg'); */
	
	height:auto; 
	
	margin-top:-5px;
}

#expert:hover{
	font-size:35px;
	
	transition-timing-function: ease-in-out;
}
#easy:hover{
	font-size:35px;
	
	transition-timing-function: ease-in-out;
}



